body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.sub-container{
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    flex-wrap: wrap;
}

.img-container{
    flex: 1;    
}

.img-container img{
    width: 60%;
    height: 60%;
    padding: 20px;
}

.content{
    flex:1;
    padding: 20px;
}

.content p{
    margin-bottom: 200px;
}

.content button{
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #4400ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;   
    align-items: right;
    margin-left: 200px;
}

